body{
    font-family:sans-serif;
    background-color:burlywood;
    margin: 0;
}

header {
    position:fixed;
    width:100%;
    background-color:tan;
    padding:20px;
    z-index:1;
    /* margin-top:-15px; */
}

.name {
    float:left;
}

.nav {
    float:right;
    margin-right:35px;
    margin-top:30px;
    word-spacing: 10px;
}

.content {
    position:relative;
    top:120px;
    width:75%;
    background-color:bisque;
    margin-left:auto;
    margin-right:auto;
    padding: 50px;
}

.bio {
    margin:auto;
    display: inline;
    /* position:relative */
}

#picture {
    float: left;
}

#about {
    float: right;
    max-width:900px;

}

#heading {
    text-align:center;
}

.portfolio {
    margin:500px auto 500px auto;
}

.examples {
    display:grid;
    grid-template-columns: repeat(3, 2fr);
}

.card {
    border-style:solid;
    border-color:black;
    border-radius:2px;
    padding:5px;
    max-width:500px;
    margin:15px;
}

.title {
    font-weight: bold;
    line-height: normal;
    line-break: normal;
}

.blurb {
    font-style:italic;
    line-height: normal;
    line-break: normal;
}

footer {
    position:absolute;
    width:100%;
    background-color:tan;
    padding:30px;
    z-index: 1;
    margin-bottom:-20px;
}