*{
    font-family: sans-serif;
}

body {
    background-color: #E9DED0;
}

#navbar {
    background-color:#D3C1AB;
    padding: 10px;
    position: fixed;
    width:100vw;
    margin-bottom: 5px;
    display: flex;
}

#navbar a {
    color: black;
}

#navbar a:hover {
    color: slategray;
}

#navbar-links {
    justify-content: flex-end;
}

#content {
    background-color: #F0EBE4;
    height:100%;
    padding-top:85px;
    position: relative;
    z-index: -1;
}

#about {
    padding-left:15px;
    padding-right:15px;
}

#headshot {
    max-width:100%;
    height: auto;
}

#caption {
    font-style:italic;
    font-size:smaller;
    margin-bottom: 10px;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-style:solid;
    border-color:black;
    border-radius:2px;
    padding:5px;
    max-width:fit-content;
    margin:15px;

}

.snapshot {
    max-width:100%;
    height: auto;
}

.snapshot:hover {
    opacity: .2;
    transition: .8s ease;
}

.title {
    font-weight: bold;
    text-align:center
}

.blurb {
    font-style:italic;
}

.info {
    font-size:20px;
    color:black;
}

footer {
    background-color:#D3C1AB;
    padding: 10px;
    width:100vw;
    text-align: center;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 520px) {
    #navbar-links {
        justify-content:unset;
    }
}