body {
    background-color: #E9DED0;
}

#navbar {
    background-color:#D3C1AB;
    padding: 10px;
    position: fixed;
    width: 100vw;
    margin-bottom: 5px;
    display: flex;
    z-index: 1;
}

#navbar a {
    color: black;
}

#navbar a:hover {
    color: slategray;
}

#navbar-links {
    justify-content: flex-end;
    margin-right: 10px;
}

#content {
    background-color: #F0EBE4;
    height: 100%;
    padding-top: 85px;
    padding-bottom:15px;
    position: relative;
    /* z-index: -1; */
}


#about {
    padding-left: 15px;
    padding-right: 15px;
}

#headshot {
    max-width: 100%;
    height: auto;
}

#caption {
    font-style: italic;
    font-size: smaller;
    margin-bottom: 10px;
}

#about-me {
    margin-left: 5px;
}

#resume-row {
    justify-content: center;
}

.proficiencies-row {
    text-align: center;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-style: solid;
    border-color:black;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 450px;
    margin: 15px;
}

.card a {
    max-width: 425px;
}

.snapshot {
    max-width:425px;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.snapshot:hover {
    opacity: .2;
    transition: .8s ease;
}

.card-title {
    font-weight: bold;
    text-align: center
}

.project-tech {
    font-style: italic;
}

.card-body {
    align-content: center;
    padding: 0px;
}

.card-text {
    height: 150px;
    overflow-y: scroll;
    border-style: solid;
    border: black;
    /* border-width: 1px; */
}

.card-text::-webkit-scrollbar {
    display: none;
}

.github-btn {
    background-color: transparent;
    height: 40px;
    /* margin-top: -30px; */
    padding-top: 10px;
}

.info {
    font-size: 20px;
    color:black;
}

.contact-link {
    color: black;
    font-weight: bold;
}